body{
    margin: 0;
    padding: 0;
    inset: 0;
}


.main{
    height: 100%;
    width: 100%;
   
    background: linear-gradient(45deg ,#d2001a, #7462ff);
}
.card:hover{
  cursor: pointer;
  inset: -5px;
}

.splide__slide img{
  height: 50%;
  overflow: hidden;
}

.title{
 background: linear-gradient(25deg ,#d2001a, #7462ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.view-btn{
  background: linear-gradient(45deg ,#d2001a, #7462ff);
  border: none;
  border-radius: 6px;
}

.footer_items a{
    text-decoration: none;
    color: #d2001a;
    border-bottom: none;
    
}